* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

/* BannerBox */
.bannerBox {
    /* background-color: #2a3fcc; */
    position: relative;
    color: #fff;
}

/* .bannerBox .bannerBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: top center;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
} */
.headerBar {
    background: #fff;
}

.headerMenuBox {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100px;
    z-index: 999;
}

/* Big Menu === */
.bigMenuBtn {
    position: relative;
    top: -25px;
    left: 10%;
    z-index: 999;
}

.headerMenuBox .borderedBtn {
    width: 64px;
    height: 64px;
    border: 1px solid #143797;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #143797;
    font-weight: bold;
    font-size: 13px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    z-index: 999;
}

.menuBars {
    width: 25px;
    height: 2px;
    background: #143797;
    position: relative;
    z-index: 999;
}

.menuBars:before {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: -8px;
    left: 0;
    background: #143797;
}

.menuBars:after {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: 8px;
    left: 0;
    background: #143797;
}

.bigMenuBtn.active .menuBars:before {
    transform: rotate(45deg);
    top: 0;
}

.bigMenuBtn.active .menuBars::after {
    transform: rotate(-45deg);
    top: 0;
}

.bigMenuBtn.active .menuBars {
    background: transparent;
}



.overlay {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #2a3fcc;
    transition: left 0.5s;
    z-index: -1;
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

.overlay.active {
    left: 0;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
    top: 40%;
    left: 0%;
    text-align: start;
}

.overlay ul li {
    margin: 20px 0;
}

.overlay ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.overlay .topLogoGerb {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listMenu {
    display: flex;
    justify-content: center;
}

.listMenu>ul {
    display: flex;
    margin: 50px 20px 20px 20px;
    column-gap: 50px;
}

.listMenu li {
    list-style: none;
    width: 200px;
    position: relative;
}

.listMenu>ul>li>a {
    font-weight: bold;
    text-align: start;
    font-size: 18px;
}

.listMenu>ul ul a {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

.menu_ul-li li a {
    color: #fff !important;
}

.menu_ul-li li a:hover {
    color: #57c997 !important;
}

.listMenu>ul ul a:hover {
    color: #57c997;
}

.listMenu>ul>li>a:hover {
    color: #57c997;

}

.listMenu .simple {
    flex-direction: column;
}

.topMainMenu2 ul {
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: center;
    color: #fff;
}

.topMainMenu2 ul li a {
    font-weight: 300;
    font-size: 14px;
}

.topMainMenu2 ul li a:hover {
    color: #57c997;
}

/*  */
.headerBar .mainMenuBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}

.menuList {
    padding-right: 40px;
}

.topMainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: #143797;
    padding: 13px 0;
}

.topMain-logo {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
}

.topMain-logo p {
    text-align: center;
    font-size: 19px;
    padding-left: 23px;
    margin-top: 12px;
}

.topMain-logo img {
    margin-left: 0;
}

.topMainMenu ul {
    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: center;
}


.topMainMenu li a {
    font-size: 13px;
    color: #fff;
}

.topMainMenu li:hover a {
    color: #57c997;
}

.topMainMenu li:nth-child(4) a {
    margin-right: 20px;
}

.menuLine {
    height: 1px;
    width: 100%;
    background: #143797;
    margin-top: -18px;
}

.bottomMainMenu {
    padding-right: 70px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    margin-right: -20px;
    margin-top: 20px;
    font-size: 14px;
}

.menu li {
    list-style: none;
    position: relative;
}

.menu li a {
    padding: 20px 11px;
    color: #143797;
    font-size: 18px;
}

.menu li ul {
    display: none;
    position: absolute;
    background: #2a3fcc;
    z-index: 999;
    padding: 0;
    width: 100%;
    min-width: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #57c997;
}

.menu li ul li a {
    color: #fff;
}

.menu li:hover ul {
    display: inline;
    margin-top: 30px;
}

.menu li>a:hover {
    color: #57c997;
}

.menu li:hover ul:first-of-type {
    display: inline;
    margin-left: 10%;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 0;
}

.menu li>a:hover,
.menu li.active>a,
.menu>li:hover>a {
    color: #57c997;
}



.menu li:hover ul:last-child {
    display: inline;
    margin-left: 10%;
    margin-top: 40px;
    /* padding: 10px; */
    padding-bottom: 10px;
    width: 50px;
}

/* Logo In */
.logo {
    margin-top: -60px;
    margin-left: 200px;
    z-index: 1;
}

.logo-in {
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo-in img {
    max-width: 75px;
}

.logo-in span {
    font-family: 'Roboto-700';
    font-size: 18px;
    letter-spacing: 0.27px;
    text-transform: uppercase;
    color: #143797;
    margin-left: 15px;
}

/* Search form start*/

.mainSearchForm {
    display: none;
    position: absolute;
    top: -84px;
    right: -21px;
    width: 37%;
    z-index: 999;
    transition: all 0.5s ease !important;
}

.active {
    display: inline;
}


.input-group .btn {
    background: #57c997;
    color: black;
    z-index: 999;

}

.mainSearchForm.active {
    width: 54%;
    z-index: 999;
}

#mainSearch {
    background: #f4f4f4;
}

/* Search form end */


/* Language start */
.borderedBtn {
    width: 54px;
    height: 54px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.borderedBtn:hover {
    background: #57c997;
    color: #2a3fcc;
}

.dropdown {
    position: relative;
    top: -50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: -70px;
}

/* Language end */

/* BannerContent start */
.bigBannerContent {
    background-position: center bottom;
    background-size: cover;
    z-index: 1;
    opacity: 1.2;
    margin-top: -74px;
    height: 700px;
}

.bannerContent {
    margin-top: 50px;
    z-index: 2;
    position: relative;
}

/* .bigLogoGerb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigLogoGerb h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
} */

.logoTextBox {
    background: #0a457a7d;
    z-index: 1;
    padding-bottom: 10px;
    height: 700px;
}

.logoTextBox__title {
    padding-top: 8px;
}


.quote {
    padding-top: 60px;
    font-style: italic;
}

.quote p {
    font-size: 18px;
}

.quote span {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

/* BannerContent end */

/* Image Header Start */
.mainContent {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.withImage .imageHeader {
    background: #d1d1dc;
    margin-bottom: 50px;
    padding-bottom: 70px;
}

.imageHeader .container {
    position: relative;
}

.withImage .imageHeader>.container>* {
    z-index: 1;
    position: relative;
}

.withImage .pageTitle::after {
    background: #2a3fcc;
}

.pageTitle {
    padding-top: 40px;
}

.pageTitle::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 100px;
    background: #57c997;
}

.breadcrumb {
    background: none;
    padding: 40px 0;
    font-size: 18px;
    color: #888888;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb a {
    font-size: 18px;
    color: #2a3fcc;
}

.withImage .imageHeader .imageBox {
    display: block;
    position: absolute;
    right: -200px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    width: 1000px;
    mask-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.withImage .imageHeader .imageBox img {
    height: 380px;
    width: 100%;
}

/* Image Header End*/


/* Main Section Start */


/* Main ServiceList  */
.mainServicesList {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 100px;
}

.mainServicesList>a {
    background: #fff;
    width: 360px;
    color: #000;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.16);
    margin: 20px;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.mainServicesList h1 {
    padding-top: 16px;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
}

.mainServicesList>a:hover {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.mainServicesList>a:hover button {
    background: #57c997;
    color: #2a3fcc;
}

.mainServicesList>a .icon {
    height: 85px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.mainServicesList>a .description {
    flex: 1;
    font-weight: 100;
    margin: 20px 0;
}


.mainServicesList>a button {
    border: none;
    background: #2a3fcc;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 55px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

/* School Info Start */

.school_info {
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid #2a3fcc;
    border-top: unset;
    border-bottom: unset;
    transition: 1.5s ease all;
}

.school_info:hover {
    border-top: 2px solid #2a3fcc;
    border-bottom: 2px solid #2a3fcc;
}

.school_info h2 {
    font-weight: 700;
}

.school_info p {
    font-weight: 400;
    color: #2a3fcc;
}

.title {
    color: #2a3fcc;
}

.title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-265px, 20px);
    height: 15px;
    width: 528px;
    background: #b9eed7;
    border-radius: 10px;
    z-index: -1;
}



/* Online School Come Star */

.onlineSchool {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 50px 0;
    position: relative;
}

.onlineSchool__info h1 {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2a3fcc;
}

.onlineSchool__info p {
    line-height: 19px;
    margin-bottom: 40px;
    color: #2a3fcc;
}

.onlineSchool::before {
    content: '';
    width: 7vw;
    height: 7vw;
    border: 5px solid #2a3fcc61;
    position: absolute;
    top: 74%;
    right: 9%;
    animation: matrix 3s linear infinite;
}


.onlineSchool::after {
    content: '';
    width: 5vw;
    height: 5vw;
    border: 4px solid #2a3fcc61;
    position: absolute;
    top: 77%;
    right: 10.1%;
    animation: matrix2 3s linear infinite;
}

.onlineSchool__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onlineSchool__info>button {
    border: none;
    background: #2a3fcc;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 55px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

.onlineSchool__info>button:hover {
    color: #2a3fcc;
    background: #57c997;
}

.sections__line {
    margin-top: 120px;
    color: #2a3fcc;
}

/* Section news Start */
.news {
    margin-top: 50px;
    padding: 50px 0;
}

.news a {
    background: #fff;
    margin: 20px;
    padding: 16px 20px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.11);
    color: #313131;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

.news a::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #2a3fcc;
    font-size: 25px;
    transition: color 0.1s ease;
}

.news a:hover {
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.news a:hover::after {
    color: #57c997;
}

.news a .imageBox {
    height: 250px;
    width: auto;
    margin: -16px -20px;
    background-image: linear-gradient(146deg, #9089b2 0%, #c4c292 100%);
    overflow: hidden;
}

.news a .imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news a h1 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin: 36px 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.news a span {
    font-size: 14px;
    margin: 0;
    color: #8a8a8a;
}

/* Map Section Start */

.title_map::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-194px, 20px);
    height: 15px;
    width: 380px;
    background: #b9eed7;
    border-radius: 10px;
    z-index: -1;
}

/* Contact section Start */
.contact {
    padding: 70px 0;
}

.contact_row1 input {
    padding: 10px 17px;
    width: 331px;
    border-radius: 10px;
    border-color: #1e264b;
    margin-bottom: 30px;
    margin-top: 10px;
}

.contact_row2 input {
    padding: 10px 17px;
    width: 331px;
    border-radius: 10px;
    border-color: #1e264b;
    margin-bottom: 30px;
    margin-top: 10px;
}

.contact_row3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_row3 input {
    padding-bottom: 60px;
    padding-left: 17px;
    width: 97%;
    height: 100px;
    border-radius: 10px;
    border-color: #1e264b;
    margin-bottom: 30px;
    margin-left: 11px;
}

.contact_btn {
    border: none;
    background: #2a3fcc;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 55px;
    border-radius: 5px;
    transition: all 0.1s ease;
    display: block;
    margin: 0 auto;
}

.contact_btn:hover {
    color: #2a3fcc;
    background: #57c997;
}


/* Useful Links Start */

.usefulLinks {
    margin: 50px 0 90px 0;
}

.usefulLinks h1 {
    font-size: 34px;
    text-align: center;
    color: #2a3fcc;
    font-weight: bold;
    position: relative;
}

.slider_content {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: start;
    transition: .5s;
}

.slider_content:hover img {
    /* border: 5px solid blue; */
    background: #57c997;
}

.slider_content img {
    width: 110px;
    height: 110px;
    border: 1px solid #bbb;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
    background: #fff;
    padding: 10px;
    transition: all 0.2s ease;
}

.slider_content h1 {
    font-size: 14px;
    color: #595959;
    padding: 0 0 0 4px;
}

.slick-prev {
    width: 38px;
    height: 38px;
    background: #2a3fcc;
    color: #000;
    border-radius: 50%;
    left: -40px;
}

.slick-prev:hover {
    background: #2a3fcc;
    color: #fff;
}

.slick-prev::before {
    opacity: 1;
}


.slick-next {
    width: 38px;
    height: 38px;
    background: #2a3fcc;
    color: #000;
    border-radius: 50%;
    right: -40px;
}

.slick-next:hover {
    background: #2a3fcc;
    color: #fff;
}

.slick-next::before {
    opacity: 1;
}


/* Main Section ENd */


/* Footer Start */
.footer {
    background: #143797;
    padding: 30px 0;
}

.footer_menu {
    padding: 0;
    text-align: center;
    margin: 10px 0 25px;
}

.footer_menu li {
    display: inline-block;
    padding: 7px 50px;
    border-left: 1px solid #fff;
}

.footer_menu li:first-child {
    border-left: none;
}

.footer_menu li a {
    font-family: Montserrat-Medium;
    font-size: calc(16px + var(--font-size));
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.footer_menu li a:hover {
    color: #57c997;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 15px 0;
    margin: 15px auto 35px;
}

.footer_logo span {
    text-align: center;
}

.footer_logo a {
    display: block;
    display: table;
    font-family: Montserrat-Regular;
    font-size: 20px;
    line-height: 1.3;
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none !important;
    margin: 0;
}

.footer_logo a i {
    display: block;
    font-family: Montserrat-Medium;
    font-size: calc(24px + var(--font-size));
    font-style: normal;
}

.footer_logo:after {
    content: "";
    background-color: #fff;
    width: 55%;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
}

a.it_live-logo {
    display: table;
    text-align: center;
    padding-top: 20px;
}

.it_live-img {
    width: 10%;
}

.year_text {
    display: block;
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #fff;
    margin: 25px 0;
}


.footer_contact-left {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 70px;
    margin-left: 75px;
    z-index: 1;
}

.footer_contact-left a:hover {
    color: #57c997 !important;
}

.footer_contact-right a:hover {
    color: #57c997 !important;
}

.footer .footer_contact-left a {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-family: Montserrat-Medium;
}

.footer .footer_contact-left a i {
    font-size: 30px;
    width: 50px;
    text-align: center;
}

.footer .footer_contact-left a span {
    margin-left: 20px;
}


/*  */
.footer_contact-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right: 185px;
    z-index: 1;
}

.footer .footer_contact-right a {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: Montserrat-Medium;
    padding: 15px 0;
}

.footer .footer_contact-right a i {
    font-size: 30px;
    width: 50px;
    text-align: center;
}

.footer .footer_contact-right a span {
    margin-left: 20px;
}

/* Footer End */


/* Animations */
@keyframes matrix {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes matrix2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}



/* Education.Html START */

.nav-pills li {
    display: flex;
    column-gap: 40px;
    margin-right: 40px;
}

.nav-item button {
    font-size: 23px;
}


.tabs-col {
    width: 65%;
    padding: 3px;
    border-radius: 11px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-col2 {
    margin: 50px auto;
    display: flex;
    justify-content: start;
    align-items: center;
}


.serviceTabs {
    width: 55%;
    border: none;
    background: #fff;
    display: table;
    margin: 0 auto;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

.serviceTabs ul {
    clear: both;
    border: none;
    display: flex;
    column-gap: 25px;
    justify-content: center;
    padding: 6px;
}

/* .serviceTabs ul li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #aeaeae;
} */

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.serviceTabs ul li {
    float: left;
    list-style: none;
    position: relative;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    color: #1e264b;
    border: none;
}

.serviceTabs ul li a {
    color: #aeaeae;
}

.serviceTabs ul li a.active {
    background: #57c997 !important;
    font-weight: bold;
    border: unset;
    color: #2a3fcc;
}

.tab-content>.active {
    display: block;
}

.servicesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    column-gap: 40px;
    row-gap: 40px;
    margin: 40px 0;
    clear: both;
    right: 0;
    top: 50%;
}

.servicesList a {
    background: #fff;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 20px 30px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s ease;
    flex: 1;
}

.servicesList a>div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.servicesList a .icon {
    height: 75px;
    width: 75px;
    margin-right: 20px;
}

.servicesList a .icon img {
    height: 100%;
    object-fit: contain;
}

.servicesList a>div span {
    flex: 1;
}

.servicesList a>span {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    position: relative;
    overflow: hidden;
    color: #666;
}

.tab-content {
    margin-top: 5rem !important;
}

.servicesList a:hover {
    background: #57c997;
}

.servicesList a .icon:hover {
    background: #57c997;
}


/* Education.Html END */



/* SCHOOL TASKS START */


.mainQuoteBox {
    padding: 0;
}

.mainQuoteBox .quoteBox {
    text-align: end;
    position: relative;
}

.mainQuoteBox .quoteBox p {
    font-style: italic;
    line-height: 20px;
}

.mainQuoteBox .quoteBox span {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    display: block;
    text-decoration: underline;
}

.ourMissionBig {
    background-image: url(../image/schoolTask-img.jpg);
    background-size: cover;
    min-height: 570px;
    color: #fff;
    padding: 150px 0;
    display: flex;
    align-items: center;
    margin: 80px 0;
}

.ourMissionBig .content {
    width: 900px;
}

.greenTitle {
    font-size: 57px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.greenTitle::after {
    content: '';
    position: absolute;
    width: 270px;
    height: 2px;
    bottom: 0;
    left: 3px;
    background: #4bce61;
}

.greenTitle.center {
    text-align: center;
}

.greenTitle.center::after {
    left: 50%;
    transform: translateX(-50%);
}

.greenTitle::after {
    content: '';
    position: absolute;
    width: 270px;
    height: 2px;
    bottom: 0;
    left: 3px;
    background: #4bce61;
}

.tasksListWithTicks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin: 50px 0;
}

.tasksListWithTicks li {
    list-style: none;
    position: relative;
    padding-left: 70px;
}

.tasksListWithTicks li::before {
    content: '';
    position: absolute;
    background: url(../image/svg_done-icon.jpg);
    width: 56px;
    height: 64px;
    left: 0;
    top: 10px;
}

/* SCHOOL TASKS END */



/* Leader Ship Start */

.mainLeader {
    display: flex;
    width: 766px;
    margin: 0 auto;
    position: relative;
}

.mainLeader img {
    width: 287px;
    height: 418px;
    object-fit: cover;
    transition: all 0.2s ease;
}

.mainLeader .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0 35px 0;
    position: relative;
    flex: 1;
}

.mainLeader .details h1 {
    font-weight: 100;
    padding-left: 70px;
    color: #000;
    text-transform: uppercase;
    font-size: 32px;
}

.mainLeader .details span {
    margin-right: 20px;
    position: relative;
    padding-left: 70px;
    padding-right: 20px;
    color: #000;
    display: block;
}

.mainLeader .details span::after {
    content: '';
    width: 200px;
    height: 2px;
    background: #2a3fcc;
    top: -70%;
    left: 0;
    position: absolute;
}

.mainLeader:hover img,
.leadersList a:hover img {
    box-shadow: 0 0 0 10px rgba(76, 64, 131, 0.7);
}

/*  */
.deputy_director {
    margin-top: 80px;
    padding-left: 50px;
}

.deputy_director-main .deputy_director-details h1 {
    font-weight: 100;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 8px;
}

.deputy_director-main .deputy_director-details span {
    margin-right: 20px;
    position: relative;
    padding-right: 20px;
    color: #000;
    display: block;
}

.deputy_director-main .deputy_director-details span::after {
    content: '';
    width: 180px;
    height: 2px;
    background: #2a3fcc;
    top: -19%;
    left: 0;
    position: absolute;
}

.deputy_director-main:hover img,
.leadersList a:hover img {
    box-shadow: 0 0 0 10px rgba(76, 64, 131, 0.7);
}

/*  */
.leaderInfo {
    display: flex;
}

.leaderInfo .photo {
    width: 40%;
    margin-right: 50px;
    text-align: right;
    max-height: 500px;
}

.leaderInfo .photo img {
    width: 80%;
}

.leaderInfo .description {
    flex: 1;
}

.leaderInfo .description .staffTitle {
    font-size: 32px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.leaderInfo .description>h2 {
    background: #57c997;
    display: table;
    padding: 10px 20px;
    margin: 20px -20px;
    font-size: 25px;
    font-weight: bold;
}

.contactInfo {
    display: block;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 25px;
}

.contactInfo>div {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.contactInfo span {
    flex: 1;
}

.contactInfo>div i {
    width: 50px;
    height: 50px;
    background: #57c997;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #2a3fcc;
    font-size: 25px;
    margin-right: 20px;
}

.contactInfo>div a {
    color: #000;
}

.fa-clock::before {
    content: "\f017";
}

.collapseBox {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 30px 0;
    padding: 30px;
    background: #fff;
}

.collapseBox>a {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    outline: none !important;
    font-weight: bold;
    display: block;
}

.collapseBox .item {
    padding-top: 20px;
}

/* Leader Ship End */





/* Teachers Start */

.leadersList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    margin: 20px 0 30px 0;
}

.leadersList a {
    color: #000;
    position: relative;
}

.leadersList a img {
    width: 100%;
    height: 418px;
    object-fit: cover;
    transition: all 0.2s ease;
}

.teachers__title {
    color: #2a3fcc;
    font-weight: bold;
    position: relative;
    font-size: 28px;
}

.teachers__title::before {
    content: '';
    width: 300px;
    height: 3px;
    background: #57c997;
    bottom: -5px;
    left: 0;
    position: absolute;

}

.leadersList a h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px 0 20px 0;
    min-height: 161px;
    margin: 0;
}

.leadersList a span {
    padding-top: 20px;
    position: relative;
    display: block;
}

.leadersList a span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #2a3fcc;
    width: 100%;
    height: 2px;
}

/* Teachers End */


/* Useful Links Start */
.useful-links {
    padding: 30px 0;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 35px;
    margin-bottom: 20px;
}

.projectsList .item,
.projectsList a.item {
    padding: 40px;
    display: flex;
    flex-direction: row;
    color: #000;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease;
}

.projectsList .item img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.projectsList .item:hover {
    box-shadow: 0 0 0 5px #2a3fcc;
}

.projectsList .item .description {
    margin-left: 30px;
    width: 100%;
}

.projectsList .item h1 {
    font-size: 20px;
    font-weight: bold;
}

.projectsList .item h3 {
    font-size: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    padding: 0;
    word-break: break-word;
}


.projectView {
    display: flex;
}

.projectView>img {
    width: 450px;
    height: 100%;
    margin-right: 50px;
    margin-bottom: 50px;
}

.projectView .description {
    margin-bottom: 20px;
    flex: 1;
}

.simpleTitle {
    font-size: 25px;
    color: #2a3fcc;
    font-weight: bold;
    position: relative;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.projectView .projectTable td {
    background: #f1effb;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Useful Links End */



/* School News Start */

.schoolNews {
    padding: 60px 0;
}

.navigationTabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: -70px 145px 30px 145px;
    background: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    font-size: 20px;
    position: relative;
}


.navigationTabs a.active {
    background: #efefef;
    color: #2a3fcc;
    font-weight: bold;
    position: relative;
}

.navigationTabs a {
    color: #aeaeae;
    padding: 10px 0;
    border-right: 1px solid #f2f2f2;
}

.navigationTabs a i {
    margin-right: 15px;
}

.imageCardBoxes {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}

.nav-tabs .nav-link {
    border: unset;
}

.imageCardBoxes a {
    background: #fff;
    margin: 20px;
    padding: 16px 20px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.11);
    color: #313131;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

.imageCardBoxes a:hover {
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.imageCardBoxes a:hover::after {
    color: #143797;
}

.imageCardBoxes a .imageBox {
    height: 250px;
    width: auto;
    margin: -16px -20px;
    background-image: linear-gradient(146deg, #9089b2 0%, #c4c292 100%);
    overflow: hidden;
}

.imageCardBoxes a .imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageCardBoxes a h1 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin: 36px 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    flex: 1;
}

.imageCardBoxes a span {
    font-size: 14px;
    margin: 0;
    color: #8a8a8a;
}

.imageCardBoxes a:after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #57c997;
    font-size: 25px;
    transition: color 0.1s ease;
}

/* School News End */


/* School Gallery Start */

.gallery_title {
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #2a3fcc;
    font-weight: bold;
    position: relative;
    margin-bottom: 40px;
}

.gallery_title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 290px;
    background: #b9eed7;
    border-radius: 10px;
    z-index: -1;
}

.schoolGallery img {
    border: 2px dashed #143797;
}

/* School Gallery End */




/* Infografika Start */

.infografika_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    padding-bottom: 30px;
}

.infografika_content .item {
    display: grid;
}

.infografika_content .item a {
    background: #2a3fcc;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 10px;
    overflow: hidden;
}

.infografika_content .item a:hover {
    box-shadow: 0 0 0 5px rgba(76, 64, 131, 0.5);
}

.infografika_content .item a .imageBox {
    height: 260px;
    width: 100%;
    background-image: linear-gradient(146deg, #9089b2 0%, #c4c292 100%);
}

.infografika_content .item a .imageBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infografika_content .item a .descriptionBox {
    position: relative;
    padding: 30px 120px 30px 36px;
}

.infografika_content .item a .descriptionBox>h1 {
    font-size: 20px;
    font-weight: bold;
}

.infografika_content .item a .descriptionBox>span {
    font-size: 14px;
    margin-top: 25px;
    display: block;
}

/* Infografika End */




/* School Rules Start */
.school-rules h4 {
    margin: 40px 0;
}

.school-rules p {
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    word-spacing: 7px;
}

/* School Rules End */





/* FAQ Start */



.collapse_Faq a {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    outline: none !important;
    font-weight: bold;
    display: block;
}

.faq_answer {
    margin: 40px 0;
    word-spacing: 7px;
    font-size: 20px;
}

/* FAQ End */

.dropdown-menu.show {
    display: block;
    padding: 19px;
    margin-top: 80px;
    margin-left: 32px;
}






/* Search Start */


.emptyBox {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #616161;
}

.emptyBox i {
    font-size: 100px;
}

.emptyBox p {
    margin-top: 5px;
    font-size: 39px;
}

/* Search End */









/* News Details Start*/

.headerArea {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 70px;
}

.headerArea .titleBox {
    flex: 1;
    width: 100%;


}

.headerArea .titleBox h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.headerArea .titleBox span {
    font-size: 18px;
    font-weight: bold;
    color: #bbb;
}



/* News Details End*/